<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <context:component-scan base-package="com.touna.test.springboot"/>

    <dubbo:application name="springboot-dubbo-test"/>
    <dubbo:consumer check="false" timeout="60000"/>

    <dubbo:registry id="creditMobileServiceRegistry" address="${dubbo.creditmobileservice.registry.address}"
                    client="zkclient" check="false"/>

    <!--<dubbo:reference id="demoFacade" interface="com.touna.credit.mobile.service.facade.DemoFacade"
                     registry="creditMobileServiceRegistry" group="h5"/>-->

</beans>
